[
    {
        kernel,
        [
            {
                distributed,
                [
                    {
                        m8ball,
                        5000,
                        ['a@wink-mint-nb', {'b@wink-mint-nb', 'b@wink-mint-nb'}]
                    }
                ]
            },
            {
                sync_nodes_mandatory,
                ['a@wink-mint-nb', 'c@wink-mint-nb']
            },
            {
                sync_nodes_timeout,
                30000
            }
        ]
    }
].
